@charset "UTF-8";

.row {
	margin-top:40px;
	display: flex;
}
.mid{
	display: flex;
	
}

.qnamain {
	display: flex;
	flex-direction: column;
}
.qna1 > #qnamainsearch {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top:15px;
}
.qnamain > .qna1 {
	width: 1080px;
	height: 80px;
	border: 1px solid red;
	background-color: #eeeeee;
	margin: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

.qnamain > .wrapper {
	width: auto;
	height: auto;
	display: flex;
}
.qnamain > .wrapper  > #left-list {
	width: 150px;
	height: 500px;
	margin-top: 30px;
}
.qnamain > .wrapper  > #qnalist1 {
	width: auto;
	height: auto;
	
}
.list {
	display: flex;
	padding: 5px;
	color: #666666;
	border-bottom:1px solid #dddddd;
	align-items: center;
	
}
.list2 {
	display: flex;
	width: 130px;
	height: 60px;
	border: 1px solid rgb(238, 238, 238);
	background-color: #dddddd;
	cursor: pointer;
	justify-content: center;
	align-items: center;	
}
.list3 {
	display: flex;
	justify-items: center;
	align-items: center;
	height: 50px;
	cursor: pointer;
}
.list3 > p {
	display: block;
	width: 800px;
}
.answer {
	display: none;
	background-color: #eeeeee;
}
#qnalist2 {
	margin-top: 30px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	min-height: 700px;
}
#qnalist2 > li{
	border-bottom: 1px solid #bbbbbb;	
}
.category {
	width: 100px;
	height: 20px;
	background-color: #93a072;
	margin: 0 5px 0 5px;
	border-radius : 5px;
	font-size: 13px;
	text-align: center;
}